* {
	font-family: "IBM 3270 Nerd Font";
	font-size: 12pt;
	min-height: 27px;
	margin: -5px 0;
}

#waybar {
	background-color: rgba(51, 50, 51, 0.9453125);
	color: #d9d9d9;
}

button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
	padding: 0 2px;
}

#workspaces button {
	background: transparent;
	color: #d9d9d9;
}

#workspaces button:hover {
	background: transparent;
	text-shadow: none;
}

#workspaces button.focused {
	background-color: #9a7372;
	color: #dfdebd;
}

#workspaces button.urgent {
	background-color: #d75f87;
	color: #dfdebd;
}

#workspaces button.active {
	background-color: #9a7372;
	color: #dfdebd;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#window,
#workspaces {
	padding: 0 5px;
}

.modules-left > widget:first-child > #workspaces {
	padding-left: 0;
}

.modules-right > widget:last-child > #workspaces {
	padding-right: 0;
}

@keyframes blink {
	to {
		background-color: #d9d9d9;
	}
}

#battery.good {
	background-color: #5f865f;
	color: #d9d9d9;
}

#battery.warning {
	background-color: #d75f87;
	color: #d9d9d9;
}

#battery.critical {
	background-color: #d75f87;
	color: #d9d9d9;
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.plugged {
	background-color: transparent;
	color: #d9d9d9;
}

label:focus {
	background-color: #000000;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #d75f87;
}

#idle_inhibitor {
	background-color: transparent;
}

#idle_inhibitor.activated {
	background-color: #9a7372;
	color: #dfdebd;
}
